[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
behave = "*"
requests = "*"
locust = "*"
behave-html-formatter = "*"

[dev-packages]

[requires]
python_version = "3.9"
